@charset "UTF-8";
/*Обнуление*/
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500;700;800&display=swap");
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*--------------------*/
.page_search_form_button, .route_time_table td:first-child, .help_container, .main_popular_link, .why_box, .container, .main_banner_search_form_button, .field_container, .main_banner_search_form, .header_select, .header_phone a:first-child, .header_phone, .header_navbar ul, .header_center_block, .header {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

body {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 16px;
}

.wrapper {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 10px;
}

/*ШАПКА*/
.header {
  justify-content: space-between;
  color: #181818;
  height: 100px;
}
.header a {
  color: #181818;
}
@media (max-width: 768px) {
  .header {
    height: 60px;
  }
}

.header_brand_link span {
  display: block;
}
.header_brand_link span:first-child {
  font-family: "Montserrat";
  font-weight: 800;
  font-size: 32px;
  line-height: 122.8%;
  text-transform: uppercase;
  color: #000;
  margin-bottom: 5px;
}
@media (max-width: 768px) {
  .header_brand_link span:first-child {
    font-size: 20px;
  }
}
.header_brand_link span:last-child {
  font-weight: 500;
  font-size: 14px;
  line-height: 122.8%;
  color: #000;
}
@media (max-width: 768px) {
  .header_brand_link span:last-child {
    display: none;
  }
}

.header_navbar ul li {
  margin-right: 26px;
  font-size: 18px;
  line-height: 122.8%;
}
.header_navbar ul li a:hover {
  color: #1969D2;
}

/*-----Бургер меню------*/
.menu-burger__header {
  display: none;
}

@media (max-width: 1200px) {
  .menu-burger__header {
    order: 2;
    position: relative;
    width: 20px;
    height: 18px;
    display: block;
    margin-left: 10px;
    z-index: 10;
  }

  .menu-burger__header span, .menu-burger__header:after, .menu-burger__header:before {
    height: 2px;
    width: 100%;
    position: absolute;
    background: #181818;
    margin: 0 auto;
  }

  .menu-burger__header span {
    top: 8px;
  }

  .menu-burger__header:after, .menu-burger__header:before {
    content: "";
  }

  .menu-burger__header:after {
    bottom: 0px;
  }

  .menu-burger__header:before {
    top: 0px;
  }

  .menu-burger__header.open-menu span {
    opacity: 0;
    transition: 0.5s;
  }

  .menu-burger__header.open-menu:before {
    transform: rotate(45deg);
    top: 8px;
    transition: 0.4s;
  }

  .menu-burger__header.open-menu:after {
    transform: rotate(-45deg);
    bottom: 8px;
    transition: 0.4s;
  }
}
/*----МОБИЛЬНОЕ МЕНЮ-----*/
.fixed-page {
  overflow: hidden;
}

.header_menu.open-menu {
  left: 0;
}

@media (max-width: 1200px) {
  .header_menu {
    display: block;
    position: absolute;
    top: 100px;
    left: 0;
    overflow: auto;
    width: 100%;
    z-index: 100;
    left: -100%;
    transition: all 0.4s ease;
  }
}
@media (max-width: 768px) {
  .header_menu {
    top: 58px;
  }
}

@media (max-width: 1200px) {
  .header_navbar ul {
    display: block;
    margin: 0;
    width: 100%;
    height: 100%;
    position: fixed;
    background: #fff;
  }
  .header_navbar ul li {
    padding: 15px 10px 15px 35px;
    border-top: 1px solid #e4e4e4;
    margin-right: 0;
  }
}

/*----ТЕЛЕФОН В ШАПКЕ-----*/
.header_phone a:first-child {
  width: 174px;
  height: 34px;
  color: #fff;
  background: #1969D2;
  border-radius: 5px;
  line-height: 34px;
  text-align: center;
  font-weight: bold;
  font-size: 16px;
  margin-right: 16px;
}
.header_phone a:first-child:hover {
  background: #3d7aca;
}
.header_phone a:first-child img {
  margin-right: 12px;
}
@media (max-width: 1200px) {
  .header_phone {
    justify-content: flex-start;
  }
}

@media (max-width: 1200px) {
  .header_phones {
    order: 1;
    margin-top: 20px;
    margin-left: 35px;
  }
}

/*-------Выбор языка и валюты----*/
.header_select {
  order: 1;
  align-items: flex-start;
}

.header_select_block {
  display: flex;
  align-items: center;
}

.language_select, .currency_select {
  display: inline-flex;
  flex-direction: column;
  text-transform: uppercase;
  height: 32px;
  overflow: hidden;
  background: #fff;
}

.language_select li, .currency_select li {
  text-align: center;
  flex: 1;
  display: flex;
  align-items: center;
  order: 2;
  height: auto;
  padding: 5px;
  min-height: 32px;
}
.language_select li img, .currency_select li img {
  margin-right: 6px;
  height: 12px;
}

.language_select li:hover, .currency_select li:hover {
  cursor: pointer;
  color: #1969D2;
}

.currency_select.open {
  height: 64px;
  margin-bottom: -32px;
  position: relative;
  z-index: 10;
}

.language_select.open {
  height: 96px;
  margin-bottom: -64px;
  position: relative;
  z-index: 10;
}

.language_select_block, .currency_select_block {
  cursor: pointer;
}
.language_select_block svg, .currency_select_block svg {
  margin-bottom: 5px;
}

.language_select_block.open svg, .currency_select_block.open svg {
  transform: rotate(180deg);
}

.language_select li.active, .currency_select li.active {
  order: 1;
  pointer-events: none;
}

.language_select li:not(.active), .currency_select li:not(.active) {
  border-top: 1px solid #e4e4e4;
}

.language_select li.active:hover, .currency_select li.active:hover {
  color: #181818;
}

.select_line {
  margin: 5px 10px 0 10px;
  width: 1px;
  height: 22px;
  background: #181818;
}
@media (max-width: 480px) {
  .select_line {
    display: none;
  }
}

/*-----ГЛАВНЫЙ ЭКРАН------*/
.main_banner {
  width: 100%;
  height: 564px;
  background-image: url("../source/img/banner.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: relative;
}
@media (max-width: 480px) {
  .main_banner {
    height: auto;
    background-position: left top;
    background-size: 100% 232px;
  }
}

.main_banner_overflow {
  background: linear-gradient(270deg, rgba(35, 7, 207, 0) 66.87%, #000000 81.95%);
  opacity: 0.6;
  top: 0;
  height: 564px;
  width: 100%;
  position: absolute;
  z-index: 1;
}
@media (max-width: 480px) {
  .main_banner_overflow {
    height: 232px;
  }
}

.main_banner_text {
  padding-top: 64px;
  position: relative;
  z-index: 2;
  text-align: center;
  margin-bottom: 66px;
}
@media (max-width: 1200px) {
  .main_banner_text {
    margin-bottom: 40px;
  }
}
@media (max-width: 480px) {
  .main_banner_text {
    margin-bottom: 66px;
  }
}
.main_banner_text h1 {
  font-weight: 500;
  font-size: 56px;
  line-height: 122.8%;
  color: #fff;
}
@media (max-width: 768px) {
  .main_banner_text h1 {
    font-size: 48px;
  }
}
@media (max-width: 480px) {
  .main_banner_text h1 {
    font-size: 36px;
  }
}
.main_banner_text h1 span {
  font-size: 36px;
  line-height: 125%;
  color: #fff;
  display: block;
  margin-top: 33px;
}
@media (max-width: 768px) {
  .main_banner_text h1 span {
    font-size: 28px;
    margin-top: 20px;
  }
}
@media (max-width: 480px) {
  .main_banner_text h1 span {
    font-size: 18px;
  }
}

/*---ФОРМА НА ГЛАВНОМ ЭКРАНЕ----*/
.main_banner_form {
  position: relative;
  z-index: 2;
}

.button_swap {
  background: transparent;
  margin: 0 -12px;
}
.button_swap svg {
  fill: #84A6BA;
}
@media (max-width: 768px) {
  .button_swap {
    display: none;
  }
}

.main_banner_search_form {
  justify-content: space-around;
  width: 100%;
  height: 120px;
  background: #FFFFFF;
  box-shadow: 0px 8px 24px rgba(1, 9, 84, 0.07);
  border-radius: 5px;
}
@media (max-width: 1200px) {
  .main_banner_search_form {
    height: auto;
    box-shadow: none;
    padding: 30px 0 20px 0;
  }
}
@media (max-width: 480px) {
  .main_banner_search_form {
    height: auto;
    box-shadow: none;
    padding: 0;
  }
}

.search_form_field:first-child {
  padding-left: 10px;
}
@media (max-width: 1200px) {
  .search_form_field:first-child {
    padding-left: 0px;
  }
}
.search_form_field:last-child {
  padding-right: 10px;
}
@media (max-width: 1200px) {
  .search_form_field:last-child {
    padding-right: 0px;
  }
}

@media (max-width: 1200px) {
  .search_form_field {
    width: 49%;
  }
}
@media (max-width: 480px) {
  .search_form_field {
    width: 100%;
    margin-top: 10px;
  }
}

.field_container {
  width: 266px;
  height: 64px;
  background: #EFF9FF;
  border: 1px solid rgba(157, 202, 230, 0.2);
  box-sizing: border-box;
  border-radius: 5px;
}
@media (max-width: 1200px) {
  .field_container {
    margin-bottom: 10px;
    width: 100%;
    justify-content: flex-start;
  }
}
@media (max-width: 480px) {
  .field_container {
    margin-bottom: 0px;
    width: 100%;
    height: 50px;
    justify-content: flex-start;
  }
}
.field_container input {
  background: transparent;
  font-weight: 500;
  font-size: 18px;
  line-height: 122.8%;
  width: 100%;
  height: 100%;
  padding-left: 20px;
}
.field_container input::placeholder {
  color: #84A6BA;
}
@media (max-width: 480px) {
  .field_container input {
    padding-left: 20px;
  }
}
.field_container label {
  font-weight: 500;
  font-size: 18px;
  line-height: 122.8%;
  color: #84A6BA;
}
.field_container input[type=checkbox] {
  display: none;
}
.field_container .return_checkbox_label:before {
  cursor: pointer;
  content: " ";
  color: #84A6BA;
  display: inline-block;
  margin-right: 7px;
  position: relative;
  text-align: center;
  width: 14px;
  height: 14px;
  background: #fff;
  vertical-align: middle;
  border: 1px solid #84A6BA;
  box-sizing: border-box;
  border-radius: 5px;
  font-size: 12px;
  line-height: 12px;
  margin-bottom: 2px;
}
@media (max-width: 480px) {
  .field_container .return_checkbox_label:before {
    margin-left: 20px;
  }
}
.field_container input[type=checkbox]:checked + .return_checkbox_label:before {
  content: "";
  font-family: "icomoon";
  font-weight: 600;
}

.search_hide_field {
  display: none;
  position: relative;
}

.search_hide_field.show {
  display: block;
}

.checked_field.hide {
  display: none;
}

.close_return_date {
  border-radius: 50%;
  background: #1969D2;
  color: #fff;
  width: 20px;
  height: 20px;
  display: block;
  text-align: center;
  line-height: 20px;
  position: absolute;
  right: 0;
  top: -8px;
  cursor: pointer;
}

.main_banner_search_form_button {
  margin-top: 40px;
  width: 100%;
}
@media (max-width: 480px) {
  .main_banner_search_form_button {
    margin-bottom: 80px;
  }
}

.button {
  background: #1969D2;
  border-radius: 5px;
  color: #fff;
  padding: 20px 50px;
  font-weight: 500;
  font-size: 24px;
  line-height: 122.8%;
  cursor: pointer;
}
.button:hover {
  background: #3d7aca;
}
.button:active {
  background: #3d7aca;
}
@media (max-width: 480px) {
  .button {
    width: 100%;
    font-size: 20px;
  }
}

/*----Календарь---*/
.ui-datepicker {
  background: #EFF9FF;
  box-sizing: border-box;
  border-radius: 5px;
  margin-top: 10px;
  width: 264px;
}
.ui-datepicker .ui-corner-all {
  background: #1969D2;
  color: #fff;
  text-align: center;
  border-radius: 5px 5px 0 0;
  position: relative;
}
.ui-datepicker .ui-corner-all .ui-datepicker-prev {
  position: absolute;
  left: 8px;
  top: 8px;
  font-size: 0;
  background-image: url("../source/img/date_icon_left.png");
  background-repeat: no-repeat;
  background-position: 4px;
  background-size: 14px;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  background-color: #fff;
  cursor: pointer;
}
.ui-datepicker .ui-corner-all .ui-datepicker-prev.ui-state-disabled {
  background-color: #84A6BA;
}
.ui-datepicker .ui-corner-all .ui-datepicker-next {
  position: absolute;
  right: 8px;
  top: 8px;
  font-size: 0;
  background-image: url("../source/img/date_icon_right.png");
  background-repeat: no-repeat;
  background-position: 6px;
  background-size: 14px;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  background-color: #fff;
  cursor: pointer;
}
.ui-datepicker .ui-corner-all .ui-datepicker-next.ui-state-disabled {
  background-color: #84A6BA;
}
.ui-datepicker .ui-datepicker-title {
  padding: 10px 0;
  font-size: 18px;
}

.ui-datepicker-calendar {
  padding: 10px;
  width: 100%;
}
.ui-datepicker-calendar thead {
  display: flex;
  margin-top: 1em;
}
.ui-datepicker-calendar thead tr {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.ui-datepicker-calendar tbody {
  width: 100%;
}
.ui-datepicker-calendar tbody tr {
  display: flex;
  justify-content: space-between;
}
.ui-datepicker-calendar tbody tr td {
  flex: 1 1 0%;
  height: 32px;
  padding: 0px;
  font-size: 14px;
  line-height: 32px;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  outline: none;
}
.ui-datepicker-calendar tbody tr td:not(.ui-state-disabled):hover {
  background: #1969D2;
  color: #fff;
  border-radius: 2px;
}
.ui-datepicker-calendar tbody tr td:not(.ui-state-disabled):hover .ui-state-default {
  color: #fff;
}
.ui-datepicker-calendar .ui-state-disabled .ui-state-default {
  color: #84A6BA;
}
.ui-datepicker-calendar .ui-state-default {
  color: #181818;
}

/*-----ПОЧЕМУ ВЫБИРАЮТ НАС------*/
.main_title {
  width: 100%;
  font-weight: bold;
  font-size: 40px;
  line-height: 122.8%;
  margin: 54px 0;
  text-align: center;
}
@media (max-width: 768px) {
  .main_title {
    font-size: 32px;
    margin: 54px 0;
  }
}
@media (max-width: 480px) {
  .main_title {
    font-size: 28px;
    margin: 0 0 30px 0;
  }
}

.main_why_container {
  margin-bottom: 55px;
}

.container {
  justify-content: space-around;
}
@media (max-width: 480px) {
  .container {
    margin-bottom: 36px;
  }
}

.box {
  width: 368px;
  height: 239px;
  border: 1px solid #F5F5F5;
  box-sizing: border-box;
  box-shadow: 0px 5px 15px rgba(10, 34, 96, 0.07);
  border-radius: 5px;
  margin-bottom: 50px;
}
@media (max-width: 768px) {
  .box {
    width: 296px;
    height: 194px;
    margin-top: 30px;
    margin-bottom: 0px;
  }
}
@media (max-width: 480px) {
  .box:first-child {
    margin-top: 0px;
  }
}

.why_box {
  justify-content: space-between;
  padding: 20px 18px 54px 30px;
}
@media (max-width: 768px) {
  .why_box {
    padding: 20px 12px 50px 24px;
  }
}

.why_box_img {
  background: linear-gradient(90deg, #1969D2 0%, #0CDBFF 99.99%, #A6FAFF 100%);
  border-radius: 50%;
  width: 40px;
  height: 40px;
  position: relative;
}
.why_box_img img {
  width: 40px;
  height: 40px;
  position: absolute;
  left: -5px;
  bottom: -3px;
}
@media (max-width: 768px) {
  .why_box_img img {
    width: 32px;
    height: 32px;
  }
}
@media (max-width: 768px) {
  .why_box_img {
    width: 32px;
    height: 32px;
  }
}

.why_box_number {
  font-weight: 500;
  font-size: 62.8966px;
  line-height: 122.8%;
  color: #1969D2;
  opacity: 0.2;
}
@media (max-width: 768px) {
  .why_box_number {
    font-size: 50px;
  }
}

.why_box_text {
  width: 100%;
  margin-top: 13px;
}
.why_box_text p {
  font-weight: 500;
  font-size: 20px;
  line-height: 122.8%;
}
@media (max-width: 768px) {
  .why_box_text {
    font-size: 18px;
  }
}

/*------МЕСТО ДЛЯ АКЦИИ--------*/
.main_stock {
  display: block;
  height: auto;
  width: 100%;
}
.main_stock img {
  width: 100%;
  height: auto;
}
@media (max-width: 480px) {
  .main_stock {
    margin-bottom: 38px;
  }
}

/*-----ПОПУЛЯРНЫЕ МАРШРУТЫ-----*/
.main_popular .main_title {
  margin-bottom: 0;
}
@media (max-width: 480px) {
  .main_popular .main_title {
    margin-bottom: -60px;
    width: 50%;
    text-align: left;
  }
}

.main_popular_link {
  width: 100%;
  justify-content: flex-end;
  margin-bottom: 30px;
}
.main_popular_link a {
  display: flex;
  align-items: flex-end;
  font-weight: 500;
  font-size: 24px;
  line-height: 122.8%;
  color: #282828;
}
@media (max-width: 480px) {
  .main_popular_link {
    display: none;
  }
}

.main_popular_container {
  margin-bottom: 82px;
}
@media (max-width: 768px) {
  .main_popular_container {
    margin-bottom: 20px;
  }
}

.box_1 {
  width: 370px;
  height: 230px;
  filter: drop-shadow(0px 2px 8px rgba(0, 0, 0, 0.2));
  border-radius: 5px;
  position: relative;
  margin-bottom: 73px;
}
.box_1 img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  z-index: 1;
  border-radius: 5px;
}
.box_1:hover .main_popular_box_button {
  background: #3d7aca;
}
.box_1:active .main_popular_box_button {
  background: #3d7aca;
}
@media (max-width: 768px) {
  .box_1 {
    width: 350px;
    height: 220px;
  }
}
@media (max-width: 480px) {
  .box_1 {
    width: 296px;
    height: 171px;
  }
}

.box_1_overflow {
  position: absolute;
  top: 0;
  z-index: 2;
  background: linear-gradient(360deg, #004382 -13.26%, rgba(1, 62, 182, 0) 39.13%);
  opacity: 0.5;
  width: 100%;
  height: 230px;
  border-radius: 5px;
}
@media (max-width: 768px) {
  .box_1_overflow {
    height: 220px;
  }
}
@media (max-width: 480px) {
  .box_1_overflow {
    height: 171px;
  }
}

.box_1_overflow_2 {
  position: absolute;
  top: 0;
  z-index: 2;
  background: linear-gradient(90deg, #004382 -1.64%, rgba(1, 62, 182, 0) 47.6%);
  opacity: 0.8;
  width: 100%;
  height: 230px;
  border-radius: 5px;
}
@media (max-width: 768px) {
  .box_1_overflow_2 {
    height: 220px;
  }
}
@media (max-width: 480px) {
  .box_1_overflow_2 {
    height: 171px;
  }
}

.box_1_route {
  position: relative;
  z-index: 3;
  font-weight: 500;
  font-size: 36px;
  line-height: 122.8%;
  color: #FFFFFF;
  padding: 30px 0 0 30px;
}
@media (max-width: 768px) {
  .box_1_route {
    font-size: 28px;
  }
}
@media (max-width: 480px) {
  .box_1_route {
    font-size: 24px;
    padding: 22px 0 0 22px;
  }
}

.box_1_price {
  position: relative;
  z-index: 3;
  font-weight: 500;
  font-size: 18px;
  line-height: 122.8%;
  color: #FFFFFF;
  margin-top: 12px;
  padding-left: 30px;
}
@media (max-width: 480px) {
  .box_1_price {
    font-size: 14px;
    padding-left: 22px;
  }
}

.box_1_button {
  position: absolute;
  z-index: 3;
  padding: 12px 45px;
  font-weight: 500;
  font-size: 18px;
  line-height: 122.8%;
  right: 0;
  bottom: 0;
  border-radius: 5px 0 5px 0;
  box-shadow: none;
}
@media (max-width: 480px) {
  .box_1_button {
    width: auto;
    padding: 9px 32px;
  }
}

/*---Слайдер в мобильной версии-----*/
@media (max-width: 480px) {
  .slick-list {
    overflow: hidden;
  }

  .slick-track {
    display: flex;
  }

  .popular_slider {
    position: relative;
    height: auto;
    padding-top: 90px;
  }
  .popular_slider .slick-arrow {
    position: absolute;
    top: 0;
    z-index: 3;
    font-size: 0;
    width: 47px;
    height: 47px;
    background-color: #1969D2;
    border: 1px solid #1969D2;
    border-radius: 5px;
  }
  .popular_slider .slider__item {
    margin: 0 20px;
  }
  .popular_slider .slick-arrow.slick-disabled {
    background-color: rgba(157, 202, 230, 0.2);
    border: 1px solid rgba(157, 202, 230, 0.2);
    opacity: 0.5;
  }
  .popular_slider .slick-arrow.slick-prev.slick-disabled {
    right: 87px;
    background-image: url("../source/img/slider_arrow_left_dis.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: auto;
  }
  .popular_slider .slick-arrow.slick-next.slick-disabled {
    right: 20px;
    background-image: url("../source/img/slider_arrow_right_dis.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: auto;
  }
  .popular_slider .slick-arrow.slick-prev {
    right: 87px;
    background-image: url("../source/img/slider_arrow_left.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: auto;
  }
  .popular_slider .slick-arrow.slick-next {
    right: 20px;
    background-image: url("../source/img/slider_arrow_right.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: auto;
  }
}
/*-----CEO текст----*/
@media (max-width: 480px) {
  .main_seo_text {
    margin-bottom: 64px;
  }
}

/*------Форма нужна наша помощь?------*/
.help_container {
  height: 236px;
  max-width: 918px;
  background: url("../source/img/Rectangle_form.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: relative;
  border-radius: 5px;
  margin: 0 auto;
  margin-bottom: 98px;
}
@media (max-width: 480px) {
  .help_container {
    max-width: 320px;
    height: 128px;
    margin-bottom: 52px;
  }
}

.help_container_overflow {
  position: absolute;
  height: 236px;
  width: 100%;
  top: 0;
  background: linear-gradient(180deg, #001C47 0%, rgba(0, 28, 71, 0) 118.43%);
  opacity: 0.6;
  filter: drop-shadow(0px 2px 8px rgba(0, 0, 0, 0.2));
  border-radius: 5px;
}
@media (max-width: 480px) {
  .help_container_overflow {
    height: 128px;
  }
}

.help_box {
  position: relative;
  z-index: 2;
  width: 56%;
}
@media (max-width: 768px) {
  .help_box {
    width: 100%;
  }
}

.help_text {
  font-size: 24px;
  line-height: 122.8%;
  text-align: center;
  color: #FFFFFF;
  margin-bottom: 30px;
}
@media (max-width: 768px) {
  .help_text {
    font-size: 20px;
  }
}
@media (max-width: 480px) {
  .help_text {
    font-size: 14px;
  }
}

.help_callback-form_row {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.help_callback-form_row input[type=tel] {
  max-width: 350px;
  min-height: 58px;
  display: block;
  width: 100%;
  padding: 20.5px 0 20.5px 30px;
  background: #EFF9FF;
  border-radius: 5px 0px 0px 5px;
}
.help_callback-form_row input[type=tel]::placeholder {
  font-size: 18px;
  line-height: 122.8%;
}
@media (max-width: 768px) {
  .help_callback-form_row input[type=tel]::placeholder {
    font-size: 16px;
  }
}
@media (max-width: 480px) {
  .help_callback-form_row input[type=tel]::placeholder {
    font-size: 14px;
  }
}
@media (max-width: 768px) {
  .help_callback-form_row input[type=tel] {
    max-width: 240px;
    min-height: 46px;
    padding: 12px 0 12px 20px;
  }
}
@media (max-width: 480px) {
  .help_callback-form_row input[type=tel] {
    min-height: 39px;
    max-width: 175px;
    padding: 12px 0 12px 20px;
  }
}
.help_callback-form_row button {
  border-radius: 0px 5px 5px 0px;
  padding: 17.5px 35px;
  min-height: 58px;
  font-weight: 500;
  font-size: 18px;
  line-height: 122.8%;
  box-shadow: none;
}
@media (max-width: 768px) {
  .help_callback-form_row button {
    min-height: 46px;
    width: auto;
    padding: 9.5px 28px;
    font-size: 16px;
  }
}
.help_callback-form_row button span:last-child {
  display: none;
}
@media (max-width: 480px) {
  .help_callback-form_row button {
    min-height: 39px;
    width: auto;
    padding: 9.5px 28px;
  }
  .help_callback-form_row button span:first-child {
    display: none;
  }
  .help_callback-form_row button span:last-child {
    display: block;
  }
}

/*------ФУТЕР------*/
.footer {
  width: 100%;
  background: #EFF9FF;
  padding: 38px 0 39px 0;
}
@media (max-width: 480px) {
  .footer {
    padding: 13px 0 16px 0;
  }
}

.footer_container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.footer_brand {
  font-weight: 800;
  font-size: 32px;
  line-height: 122.8%;
  text-transform: uppercase;
  color: #000000;
}
@media (max-width: 768px) {
  .footer_brand {
    font-size: 26px;
  }
}
@media (max-width: 480px) {
  .footer_brand {
    font-size: 20px;
    width: 50%;
  }
}

@media (max-width: 480px) {
  .footer_mobile_hide {
    display: none;
  }
}

.footer_box .footer_brand {
  display: none;
}
@media (max-width: 480px) {
  .footer_box .footer_brand {
    display: block;
  }
}
.footer_box p {
  color: #84A6BA;
  font-weight: 400;
  font-size: 18px;
  line-height: 140%;
  margin-top: 22px;
}
.footer_box p a {
  color: #84A6BA;
}
.footer_box p a:hover {
  color: #181818;
}
@media (max-width: 768px) {
  .footer_box p {
    font-size: 12px;
    margin-top: 10px;
  }
}
@media (max-width: 480px) {
  .footer_box p {
    font-size: 10px;
    margin-top: 5px;
  }
}
.footer_box li {
  font-weight: 400;
  font-size: 18px;
  line-height: 122.8%;
  margin-bottom: 28px;
}
@media (max-width: 768px) {
  .footer_box li {
    font-size: 12px;
    margin-bottom: 10px;
  }
}
.footer_box li:last-child {
  margin-bottom: 0;
}
.footer_box li a {
  color: #84A6BA;
}
.footer_box li a:hover {
  color: #181818;
}

.footer_phones {
  text-align: right;
  display: flex;
  flex-direction: column;
}
.footer_phones a {
  display: block;
  font-weight: bold;
  font-size: 16px;
  line-height: 122.8%;
  color: #84A6BA;
  margin-bottom: 30px;
}
.footer_phones a:hover {
  color: #181818;
}
@media (max-width: 768px) {
  .footer_phones a {
    font-size: 12px;
    margin-bottom: 10px;
  }
}
@media (max-width: 480px) {
  .footer_phones a {
    font-size: 10px;
  }
}
@media (max-width: 768px) {
  .footer_phones a img {
    width: 14px;
    height: 14px;
  }
}
@media (max-width: 480px) {
  .footer_phones a img {
    width: 11.96px;
    height: 12.09px;
  }
}
.footer_phones .footer_button {
  color: #fff;
}
@media (max-width: 480px) {
  .footer_phones .footer_button {
    padding: 10px 20px;
    order: 3;
  }
}
.footer_phones .footer_button:hover {
  color: #fff;
}

/*-------СТРАНИЦА МАРШРУТЫ-------*/
/*-------ХЛЕБНЫЕ КРОШКИ------*/
.breadcrumbs {
  width: 100%;
  height: 50px;
  background: #EFF9FF;
}
.breadcrumbs ul {
  width: 100%;
  height: 50px;
  display: flex;
  align-items: center;
}
.breadcrumbs ul li {
  font-weight: 400;
  font-size: 12px;
  line-height: 122.8%;
  color: #84A6BA;
  margin-right: 11px;
}
.breadcrumbs ul li a {
  color: #84A6BA;
  font-weight: 400;
  font-size: 12px;
  line-height: 122.8%;
}
.breadcrumbs ul li:last-child {
  color: #1969D2;
}

/*------*/
.marshruty_container {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  margin-top: 20px;
}
.marshruty_container .main_title {
  text-align: left;
}

.marshruty_left_block {
  width: 66%;
}
@media (max-width: 768px) {
  .marshruty_left_block {
    width: 56%;
  }
}
@media (max-width: 480px) {
  .marshruty_left_block {
    width: 100%;
  }
}

.marshruty_right_block {
  width: 34%;
  position: relative;
  height: auto;
}
@media (max-width: 768px) {
  .marshruty_right_block {
    width: 44%;
  }
}
@media (max-width: 480px) {
  .marshruty_right_block {
    width: 100%;
  }
}

/*-----ТЕКСТОВЫЙ БЛОК СЛЕВА-----*/
.page_title {
  margin-bottom: 32px;
}

h1 {
  font-weight: 500;
  font-size: 52px;
  line-height: 122.8%;
  color: #000000;
}
@media (max-width: 768px) {
  h1 {
    font-size: 40px;
  }
}
@media (max-width: 480px) {
  h1 {
    font-size: 36px;
  }
}

h2 {
  font-weight: 500;
  font-size: 40px;
  line-height: 122.8%;
  color: #000000;
}
@media (max-width: 768px) {
  h2 {
    font-size: 32px;
  }
}
@media (max-width: 480px) {
  h2 {
    font-size: 28px;
  }
}

h3 {
  font-weight: 500;
  font-size: 32px;
  line-height: 122.8%;
  color: #000000;
}
@media (max-width: 768px) {
  h3 {
    font-size: 28px;
  }
}
@media (max-width: 480px) {
  h3 {
    font-size: 22px;
  }
}

p {
  font-weight: 300;
  font-size: 16px;
  line-height: 122.8%;
  color: #000000;
}
@media (max-width: 480px) {
  p {
    font-size: 14px;
  }
}

.price {
  height: 83px;
  display: flex;
  align-items: center;
}
.price span {
  margin-left: 23px;
  font-weight: 500;
  font-size: 52px;
}
@media (max-width: 480px) {
  .price span {
    font-size: 40px;
  }
}
.price:before {
  content: "";
  display: inline-block;
  width: 8px;
  height: 100%;
  background: linear-gradient(0deg, #1969D2 -18.35%, #0CDBFF 115.18%, #A6FAFF 115.19%);
  border-radius: 20px;
}
@media (max-width: 480px) {
  .price:before {
    height: 60px;
  }
}

/*-----БЛОК С ТАБЛИЦАМИ-----*/
.routs_tables {
  margin-bottom: 54px;
}
.routs_tables h3 {
  margin: 54px 0;
}

.route_time_table {
  width: 100%;
  overflow: auto;
  border-collapse: collapse;
  margin-bottom: 14px;
}
.route_time_table thead tr {
  border-bottom: 3px solid #DDDDDD;
}
.route_time_table tbody tr {
  border-bottom: 3px solid #DDDDDD;
}
.route_time_table tbody tr:last-child {
  border: none;
}
.route_time_table td:nth-child(2n) {
  background: #F5F5F5;
}
.route_time_table th:nth-child(2n) {
  background: #F5F5F5;
}
.route_time_table td:first-child {
  font-weight: 500;
  font-size: 20px;
  line-height: 122.8%;
}
@media (max-width: 480px) {
  .route_time_table td:first-child {
    font-size: 16px;
  }
}
.route_time_table th:first-child {
  width: 40%;
}
.route_time_table th {
  padding: 12px 0 21px 0;
  font-weight: 500;
  font-size: 20px;
  line-height: 122.8%;
}
@media (max-width: 480px) {
  .route_time_table th {
    font-size: 16px;
  }
}
.route_time_table td {
  padding: 16px 0 21px 0;
}
.route_time_table td img {
  margin: 0 auto;
  display: flex;
}
.route_time_table td svg {
  margin: 0 4px;
}

/*---СПИСОК---*/
ol {
  counter-reset: item;
}
ol li {
  display: block;
  font-weight: 300;
  font-size: 16px;
  line-height: 122.8%;
  margin-bottom: 9px;
}
@media (max-width: 480px) {
  ol li {
    font-size: 14px;
  }
}
ol li:before {
  content: counter(item, decimal-leading-zero);
  counter-increment: item;
  font-weight: 500;
  font-size: 16px;
  line-height: 122.8%;
  background: linear-gradient(360deg, #1969D2 38.31%, #0CDBFF 136.35%, #A6FAFF 136.36%);
  -webkit-background-clip: text;
          background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-right: 13px;
}

/*---ФОРМА НА СТРАНИЦЕ МАРШРУТА----*/
.page_form {
  top: 20px;
  position: sticky;
  width: 100%;
  margin: 0 10px;
  background: #1969D2;
  border-radius: 5px;
  padding: 42px 24px 46px 24px;
}
@media (max-width: 768px) {
  .page_form {
    padding: 20px;
  }
}
@media (max-width: 480px) {
  .page_form {
    position: static;
    width: 100%;
    margin: 0 0 20px 0;
  }
}

.page_search_form_title {
  font-weight: bold;
  font-size: 34px;
  line-height: 122.8%;
  text-transform: uppercase;
  text-align: center;
  width: 100%;
  color: #fff;
}
@media (max-width: 768px) {
  .page_search_form_title {
    font-size: 22px;
  }
}

.page_search_form_field {
  width: 100%;
  height: 45px;
  background: #EFF9FF;
  border: 1px solid rgba(157, 202, 230, 0.2);
  box-sizing: border-box;
  border-radius: 5px;
  margin-top: 24px;
  display: flex;
}
@media (max-width: 480px) {
  .page_search_form_field {
    height: 38px;
    margin-top: 16px;
  }
}
.page_search_form_field input {
  background: transparent;
  font-weight: 500;
  font-size: 18px;
  line-height: 122.8%;
  width: 100%;
  height: 100%;
  padding-left: 20px;
}
@media (max-width: 768px) {
  .page_search_form_field input {
    font-size: 14px;
  }
}
.page_search_form_field input::placeholder {
  color: #84A6BA;
}
@media (max-width: 480px) {
  .page_search_form_field input {
    padding-left: 20px;
  }
}
.page_search_form_field label {
  font-weight: 500;
  font-size: 18px;
  line-height: 45px;
  color: #84A6BA;
}
@media (max-width: 768px) {
  .page_search_form_field label {
    font-size: 14px;
    line-height: 38px;
  }
}
.page_search_form_field input[type=checkbox] {
  display: none;
}
.page_search_form_field .page_return_checkbox_label:before {
  cursor: pointer;
  content: " ";
  color: #84A6BA;
  display: inline-block;
  margin-right: 7px;
  position: relative;
  text-align: center;
  width: 14px;
  height: 14px;
  background: #fff;
  vertical-align: middle;
  border: 1px solid #84A6BA;
  box-sizing: border-box;
  border-radius: 5px;
  font-size: 12px;
  line-height: 12px;
  margin-bottom: 2px;
  margin-left: 20px;
}
.page_search_form_field input[type=checkbox]:checked + .page_return_checkbox_label:before {
  content: "";
  font-family: "icomoon";
  font-weight: 600;
}

.page_search_hide_field {
  display: none;
  position: relative;
}

.page_search_hide_field.show {
  display: block;
}

.page_checked_field.hide {
  display: none;
}

.page_close_return_date {
  border-radius: 50%;
  background: #fff;
  color: #1969D2;
  width: 20px;
  height: 20px;
  display: block;
  text-align: center;
  line-height: 20px;
  position: absolute;
  right: 0;
  top: -8px;
  cursor: pointer;
}

.page_search_form_button {
  margin-top: 50px;
  width: 100%;
}
@media (max-width: 768px) {
  .page_search_form_button {
    margin-top: 24px;
  }
}

.white_button {
  background: #FFFFFF;
  border-radius: 5px;
  color: #181818;
  padding: 20px 45px;
  font-weight: 500;
  font-size: 22px;
  line-height: 122.8%;
  cursor: pointer;
}
.white_button:hover {
  color: #1969D2;
}
.white_button:active {
  color: #1969D2;
}
@media (max-width: 768px) {
  .white_button {
    font-size: 20px;
    padding: 10px 20px;
  }
}

/*---Страница информации----*/
.info_page_container {
  display: flex;
  flex-wrap: wrap;
  margin-top: 40px;
  position: relative;
  letter-spacing: 0.04em;
}
@media (max-width: 768px) {
  .info_page_container {
    margin-top: 0;
  }
}

.sidebar {
  width: 25%;
}

.content {
  width: 75%;
  padding: 0 20px;
}
@media (max-width: 768px) {
  .content {
    margin-top: 150px;
    width: 100%;
    padding: 0;
  }
}

.content_block {
  margin-bottom: 98px;
}
.content_block ul {
  margin-left: 16px;
}
.content_block ul li {
  font-weight: 300;
  font-size: 16px;
  line-height: 122.8%;
  margin-bottom: 9px;
  display: flex;
  align-items: center;
}
@media (max-width: 480px) {
  .content_block ul li {
    font-size: 14px;
  }
}
.content_block ul li:before {
  display: inline-block;
  content: "";
  border-radius: 50%;
  background: linear-gradient(360deg, #1969D2 38.31%, #0CDBFF 136.35%, #A6FAFF 136.36%);
  width: 8px;
  height: 8px;
  margin-right: 10px;
}
.content_block a {
  color: #1969D2;
  text-decoration: underline;
}

/*--Сайдбар----*/
.sidebar {
  padding: 0 10px;
}
@media (max-width: 768px) {
  .sidebar {
    width: 100%;
    padding: 0;
    position: fixed;
    top: 110px;
  }
}
@media (max-width: 768px) {
  .sidebar.fixed {
    top: 0px;
  }
}

.sidebar_header {
  padding: 30px 0 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
@media (max-width: 768px) {
  .sidebar_header {
    padding: 20px 0 10px;
    flex-direction: row;
  }
}

.sidebar_title {
  text-align: center;
  font-size: 22px;
}
@media (max-width: 768px) {
  .sidebar_title {
    order: 2;
    font-size: 18px;
  }
}

.sidebar_header_q {
  margin-top: 20px;
  border-radius: 50%;
  background: #1969D2;
  color: #fff;
  font-weight: 800;
  font-size: 60px;
  line-height: 60px;
  text-align: center;
  width: 60px;
  height: 60px;
}
@media (max-width: 768px) {
  .sidebar_header_q {
    order: 1;
    width: 30px;
    height: 30px;
    font-size: 30px;
    line-height: 30px;
    font-weight: 600;
    margin-top: 0px;
    margin-right: 10px;
  }
}

.sidebar-arrow {
  position: relative;
}
.sidebar-arrow:after {
  position: absolute;
  top: 24px;
  right: -10px;
  border-top: 10px solid transparent;
  border-right: none;
  border-bottom: 10px solid transparent;
  border-left: 10px solid #fff;
  content: " ";
  filter: drop-shadow(2px 0 1px rgba(46, 46, 46, 0.17));
}
@media (max-width: 768px) {
  .sidebar-arrow {
    display: none;
  }
}

.sidebar_wrapper {
  width: 100%;
  background: #FFFFFF;
  border: 1px solid #F5F5F5;
  box-shadow: 0px 5px 15px rgba(10, 34, 96, 0.07);
  border-radius: 5px;
}
@media (max-width: 768px) {
  .sidebar_wrapper {
    border-radius: none;
    border: none;
    box-shadow: 5px rgba(10, 34, 96, 0.07);
  }
}

.sidebar_menu li a {
  display: block;
  padding: 17px 30px 17px 25px;
  border-top: 1px solid #e4e4e4;
  font-size: 13px;
  color: #181818;
}
.sidebar_menu li a:hover {
  color: #1969D2;
}
@media (max-width: 768px) {
  .sidebar_menu {
    display: none;
  }
  .sidebar_menu.open {
    display: block;
  }
}

.sidebar-menu-switch {
  position: absolute;
  right: 50%;
  display: none;
  width: 50px;
  height: 25px;
  justify-content: center;
  padding: 0;
  border: none;
  background: radial-gradient(ellipse at 50% 0%, #fff 69%, transparent 70%);
  color: #777;
  cursor: pointer;
  filter: drop-shadow(1px 2px 1px rgba(46, 46, 46, 0.21));
  transform: translateX(50%);
}
.sidebar-menu-switch svg {
  transform: rotate(180deg);
}
.sidebar-menu-switch.open svg {
  transform: none;
}
@media (max-width: 768px) {
  .sidebar-menu-switch {
    display: flex;
  }
}

/*--Выпадающее при нажатии меню--*/
.toggle_menu {
  margin: 20px 0;
}

.toggle_menu_text {
  display: none;
  background-color: #EFF9FF;
  color: #181818;
  border-bottom: 1px solid rgba(157, 202, 230, 0.2);
  border-left: 1px solid rgba(157, 202, 230, 0.2);
  border-right: 1px solid rgba(157, 202, 230, 0.2);
  box-sizing: border-box;
  border-radius: 0 0 5px 5px;
  padding: 12px 12px 12px 50px;
  font-size: 16px;
  line-height: 16px;
  font-weight: 400;
}
.toggle_menu_text.toggle_menu_active {
  display: block;
}
@media (max-width: 480px) {
  .toggle_menu_text {
    font-size: 14px;
  }
}

.toggle_menu_title {
  margin-top: 10px;
  padding-left: 50px;
  background-color: transparent;
  width: 100%;
  height: 40px;
  font-weight: normal;
  font-size: 16px;
  line-height: 40px;
  position: relative;
  cursor: pointer;
  border: 1px solid rgba(157, 202, 230, 0.2);
  border-radius: 5px;
}
.toggle_menu_title.toggle_menu_active {
  background-color: #EFF9FF;
  color: #84A6BA;
  border-bottom: none;
  box-sizing: border-box;
  border-radius: 5px 5px 0 0;
}
.toggle_menu_title span {
  position: absolute;
  background: #1969D2;
  height: 2.8px;
  width: 18px;
  top: 20px;
  left: 20px;
  transition: 0.5s;
}
@media (max-width: 480px) {
  .toggle_menu_title span {
    width: 12px;
    top: 15px;
  }
}
.toggle_menu_title span:before {
  position: absolute;
  background: #1969D2;
  height: 2.8px;
  width: 18px;
  content: "";
  transform: rotate(90deg);
  transition: 0.5s;
}
@media (max-width: 480px) {
  .toggle_menu_title span:before {
    width: 12px;
  }
}
@media (max-width: 480px) {
  .toggle_menu_title {
    font-size: 14px;
    line-height: 30px;
  }
}

.toggle_menu_active span {
  background: #84A6BA;
  transform: rotate(-45deg);
}
.toggle_menu_active span:before {
  background: #84A6BA;
}

/*-------ВСЕ МАРШРУТЫ----------*/
.vse_marshruty {
  margin-top: 40px;
  letter-spacing: 0.04em;
}
.vse_marshruty .page_title {
  text-align: center;
}

.buy_route .box_1 {
  width: 340px;
  height: 210px;
  margin-bottom: 90px;
}
.buy_route .box_1_overflow {
  height: 210px;
}
.buy_route .box_1_overflow_2 {
  height: 210px;
}
.buy_route .box_1_route {
  padding: 20px 0 0 20px;
  font-size: 30px;
}
.buy_route .box_1_price {
  padding-left: 20px;
}
.buy_route .buy_route_button {
  display: none;
}
@media (max-width: 768px) {
  .buy_route .buy_route_button {
    display: block;
  }
}
.buy_route:hover {
  margin: -33px -20px 0 -20px;
  padding: 20px;
  box-shadow: 0px 5px 15px rgba(10, 34, 96, 0.07);
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.buy_route:hover .box_1 {
  margin-bottom: 20px;
}
.buy_route:hover .buy_route_button {
  display: block;
  max-width: 200px;
  padding: 8px 16px;
  font-weight: 500;
  font-size: 18px;
  line-height: 122.8%;
  text-align: center;
}
@media (max-width: 768px) {
  .buy_route {
    padding: 10px;
    box-shadow: 0px 5px 15px rgba(10, 34, 96, 0.07);
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
  }
  .buy_route .box_1 {
    margin-bottom: 10px;
  }
  .buy_route .buy_route_button {
    display: block;
    max-width: 200px;
    padding: 10px 18px;
    font-weight: 500;
    font-size: 18px;
    line-height: 122.8%;
    text-align: center;
  }
}